.wrapper {
    display: flex;
    width: 100%;
    height: 100%;

    .side-bar {
        height: 100%;
        width: 80px;
        background-color: #BFBFBF;
        opacity: 0.6;
        flex-shrink: 0;
    }
    
    .playground {
        height: 100%;
        width: 100%;
    }
}