#grid {

    width: 100%;
    height: 100%;

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        background: var(--color-4);
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgb(0, 0, 0, .2);
    }

    td {
        width: 25px;
        height: 25px;
    }

    td {
        border: 1px solid var(--color-3);
    }

    .target {
        background-image: url("../../../assets/images/target.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        animation: special-node-animation .5s ease-out 0s 1 alternate forwards running;
    }

    .start {
        background-image: url("../../../assets/images/right.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        animation: special-node-animation .5s ease-out 0s 1 alternate forwards running;
    }

    .wall {
        background-color: var(--color-2);
        animation: wall-animation .5s ease-out 0s 1 alternate forwards running;
    }

    .visitedStartNode {
        background-image: url("../../../assets/images/right.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: visited-special-node 2.0s ease-out 0s 1 alternate forwards running;
    }

    .visitedTargetNode {
        background-image: url("../../../assets/images/target.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: visited-special-node 2.0s ease-out 0s 1 alternate forwards running;
    }

    .visited {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: visited 2.0s ease-out 0s 1 alternate forwards running;
    }

    .current {
        background-color: #E0C5E7;
    }
    
    .shortest-path-start {
        background-color: rgb(255, 254, 106);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: shortest-path-special-node 1.5s ease-out 0s 1 alternate forwards running;

        &.up {
            background-image: url("../../../assets/images/up.svg");
        }

        &.right {
            background-image: url("../../../assets/images/right.svg");
        }

        &.down {
            background-image: url("../../../assets/images/down.svg");
        }

        &.left {
            background-image: url("../../../assets/images/left.svg");
        }
    }

    .shortest-path-target {
        background-image: url("../../../assets/images/target.svg");
        background-color: rgb(255, 254, 106);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: shortest-path-special-node 1.5s ease-out 0s 1 alternate forwards running;
    }

    .shortest-path {
        background-color: rgb(255, 254, 106);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: shortest-path 1.5s ease-out 0s 1 alternate forwards running;

        &.up {
            background-image: url("../../../assets/images/up.svg");
        }

        &.right {
            background-image: url("../../../assets/images/right.svg");
        }

        &.down {
            background-image: url("../../../assets/images/down.svg");
        }

        &.left {
            background-image: url("../../../assets/images/left.svg");
        }
    }

    &.disabled {
        pointer-events: none;
    }
}

@keyframes special-node-animation {
    0% {
        transform: scale(.2);
    }

    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes wall-animation {
    0% {
        transform: scale(.2);
    }

    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes visited-special-node {
    0% {
        transform: scale(.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(255, 83, 176, 0.75);
    }
    
    75% {
        transform: scale(1.4);
        background-color: rgba(0, 190, 218, 0.75);
    }

    100% {
        transform: scale(1.0);
        background-color: rgba(0, 255, 127, 0.75);
    }
}

@keyframes visited {
    0% {
        transform: scale(.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }
    
    50% {
        background-color: rgba(255, 83, 176, 0.75);
    }
    
    75% {
        transform: scale(1.2);
        background-color: rgba(0, 190, 218, 0.75);
    }

    100% {
        transform: scale(1.0);
        background-color: rgba(0, 255, 127, 0.75);
    }
}

@keyframes shortest-path-special-node {
    0% {
        transform: scale(.6);
    }

    20% {
        transform: scale(1.05);

    }

    30% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes shortest-path {
    0% {
        transform: scale(.6);
    }

    20% {
        transform: scale(1.05);
        background-image: none;
    }

    30% {
        transform: scale(1.05);
        background-image: none;
    }

    100% {
        transform: scale(1.05);
        background-image: none;
    }
}