<div id="grid" [ngClass]="{'disabled': isAnimating}" #grid>
    <table>
        <tbody>
            <tr [attr.id]="'row-'+i" *ngFor="let nodes of gridArray; index as i">
                <td *ngFor="let node of nodes" [attr.id]="node.id" [attr.class]="node.status"
                    (mouseup)="onMouseUp(node)" (mousedown)="onMouseDown($event, node, nodeElement)"
                    (mouseenter)="onMouseEnter(node, nodeElement)" (mouseleave)="onMouseLeave(node, nodeElement)"
                    #nodeElement>
                </td>
            </tr>
        </tbody>
    </table>
</div>