/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}

:root {
    --color-1: #E7E7E8; 
    --color-2: #0B1F2A;
    --color-3: #1EA099;
    --color-4: #F3F3F3;
    --color-5: #FFFFFF;
    --color-6: #337279;
}

body {
    background: var(--color-1);
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro";
    -webkit-font-smothing: antialiased;
    margin: 0px;
    font-size: 16px;
    color: var(--color-5);
}

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

table {
    border-spacing: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }