<div class="wrapper">
    <div class="left-panel">
        <button class="circle settings tooltip" (click)="onSettingsButtonClick()">
            <img src="assets/images/settings.svg" alt="Settings"><span class="tooltiptext">Settings</span>
        </button>
        <button class="circle play tooltip" (click)="onVisualize()">
            <img src="assets/images/play.svg" alt="Run"><span class="tooltiptext">Run</span>
        </button>
    </div>
    <div class="playground" #playground>
        <app-grid class="grid"></app-grid>
    </div>
    <div class="right-panel"></div>
</div>
<app-sidebar class="sidebar" [ngClass]="{'open': openSettings}"></app-sidebar>